* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Calibri;
  background-color: grey;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: grey;
  font-size: 0.85em;
  font-family: sans-serif;
}
ul {
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  padding: 1em 1.5em;
  list-style-type: none;
  cursor: pointer;
}

.page {
  text-align: center;
  margin-left: 25%;
  margin-top: 1%;
  margin-right: 25%;
  border-color: white;
  border-width: 25%;
  background-color: white;
  margin-bottom: 2%;
  height: 95vh;
  border-radius: 1%;
  padding: 1%;
}
p {
  padding: 0.2em;
  font-size: 1.5em;
}
h1 {
  padding: 2em 0em 0em 0em;
  font-size: 3.5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}

/* li:not(:last-of-type) {
  border-right: 2px solid white;
} */
